.Search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 2em;
  padding-bottom: 2em;
  background: blanchedalmond;
}

.Search-item-label {
  margin: 1em;
}

.Search-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.Search-button > button {
  background: #333;
  border-radius: 10%;
  border: none;
  color: white;
  padding-right: 2em;
  padding-left: 2em;
}

.Search-button {
  display: flex;
  flex: 1;  
  padding: 1em;
}